
body
{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator
{
  background-color: black;
  max-width: 500px;
}
input
{
    width: 260px;
    height: 40px;
    color: white;
    background-color:rgba(196, 182, 182, 0.882) ;
    border: none;
   
}
button
{
   font-style: italic;
   font-weight: bold;
   background-color: rgba(108, 105, 105, 0.922);
   border-radius: 50%;
   border:none;
   height: 50px;
   width: 50px;
   background-color: rgba(196, 182, 182, 0.882);

}

.operator
{
    
    background-color: orange;
}
#keys
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 25px;
}
button:hover{
    background-color:rgba(108, 105, 105, 0.930) ;
}
.operator:hover
{
    background-color: rgb(178, 123, 21);
}
