.main{
    position: relative;
    margin: auto;
    width: 100%;
}
.first img{
    width: 100%;
    display: none;
    height: 500px;
}
img.displayimage
{
    display: block;
    animation-name:fade;
    animation-duration: 1.5s;
}
.main button
{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:2rem;
    background-color:hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    
}
.prev
{
    left:0;

}
.next
{
    right: 0;
}
@keyframes fade{
    from{opacity: .5;}
    to {opacity: 1}

}